extends ./layout/base

block content

    .container(style="margin-top:70px;")
        .row
            .col-md-4
                a(href="javascript:history.back()") &larr; Назад

            .col-md-4
                p Квотация подготовлена для &nbsp;
                    b=trip.documentFor
                p Даты пребывания &nbsp;
                    b #{trip.tripStarts} - #{trip.tripEnds}
                p Количество гостей &nbsp;
                    b #{trip.totalGuests}
                hr
                p
                    b Итого
                    b.pull-right #{trip.price} р.
            .col-md-4